
.cards{
    border : 2px solid black;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(4, 4, 174);
    color: white;
    box-shadow: 2px 2px black;
    margin-bottom: 10px;
}